.slider-tabs {
    display: flex;
  }
  
  .tab {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .tab.active {
    background-color: #f0f0f0;
  }
  
  .tab-content {
    border: 1px solid #ccc;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .card-list {
    margin-top: 20px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  